.user-review-container{
    margin-bottom: 100px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border: none;
    padding: 10px;
}

.user-review-container img{
    height: 200px;
    width: 150px;
    border-radius: 50%;
    margin-top: 30px;

}